.movie-grid-container{
    display: flex;
    padding-left: 40px;
    padding-bottom: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;      
    -ms-overflow-style: none; 
}
.movie-grid-container::-webkit-scrollbar {
    display: none;
}